<div class="card mb-3" style="max-width: 540px;">
    <div class="row no-gutters">
      <div class="col-md-4">
        <img src="<%= `/images/${noticia.image}` %>" class="card-img-top">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">
                <%= noticia.name %>
          </h5>
          <p class="card-text">
                <%= noticia.description %>
          </p>
          <a href="<%= noticia.link %>" class="btn btn-primary">Ler mais</a>
        </div>
      </div>
    </div>
  </div>