<div class="card mb-3" style="max-width: 540px;">
        <div class="row no-gutters">
          <div class="col-md-4">
            <img src="<%= `/images/${project.image}` %>" class="card-img-top">
          </div>
          <div class="col-md-8">
            <div class="card-body">
              <h5 class="card-title">
                    <%= project.name %>
              </h5>
              <p class="card-text">
                    <%= project.description %>
              </p>
              <a href="/project/<%= project.id %>" class="btn btn-primary">Ler mais</a>
            </div>
          </div>
        </div>
      </div>